.top_box {
  border: solid #ccc 1px;
  padding:  10px;
  margin: 10px;
}

.link_box {
  margin:  5px;
  padding: 10px;
  cursor: pointer;
  background-color: #ccc;
}

.link_box:hover {
  background-color: #aaa;
}
.loader{
  width:20px;
  margin-left: 20px;

}

.main_div{
  padding:20px 40px;
  
}
.button_div{
  margin-bottom: 15px;
}

.layout{
  color:#333;
  border-radius: 4px;
  background-color:#fff;
  padding: 10px;
  width:350px;
  border: solid #ccc 1px;
  margin-bottom:25px;
}
